{% extends 'base.html' %}

{% block title %} About {% endblock title %}

{% block aboutactive %} active {% endblock aboutactive %}

{% block body %}

<div class="container my-4">
    <h2 class="mt-4 my-2 text-center">About Us</h2>
        <div class="row featurette d-flex justify-content-center align-items-center my-2">
            <div class="col-md-7">
                <h3 class="featurette-heading">It all started with dCorder idea. <span class="text-muted"> It'll blow your mind.</span></h3>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, reiciendis repudiandae alias fuga itaque pariatur quia voluptatum consequuntur nulla aspernatur voluptatibus sapiente totam laboriosam vitae tempore officiis veniam repellendus commodi corporis. Consequatur, qui atque dignissimos consequuntur sunt harum facilis, praesentium vel accusantium laudantium perspiciatis aliquid reiciendis tempora nesciunt, magnam temporibus!</p>
            </div>
            <div class="col-md-5">
            </div>
        </div>
        <br>
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7 order-md-2">
                <h3 class="featurette-heading">We started dCoder in 2020<span class="text-muted"> A journey of a thousand miles begins with a single step</span></h3>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. Maxime libero aut facere tenetur possimus asperiores reiciendis repellendus! Dicta iste nam fugiat dolores</p>
            </div>
            <div class="col-md-5 order-md-1">
            </div>
        </div>
        <br>
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7">
                <h3 class="featurette-heading">Future Plans. <span class="text-muted"> To provide service to the last man standing in a queue.</span></h3>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta feliseuismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. Maxime libero aut facere tenetur possimus asperiores reiciendis repellendus! Dicta iste nam fugiat dolores</p>
            </div>
            <div class="col-md-5">
            </div>
        </div>
    </div>

 {% endblock %}